
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: #f1c40f; /* Amarillo */
    margin: 0 20px;
    transition: color 0.3s; /* Transición de color al pasar el mouse */
}

.nav-link:hover {
    color: #e74c3c; /* Rojo oscuro */
    text-decoration: underline;
}

/* Estilos para la sección de inicio */
.hero {
    background-color: #f4f4f4;
    text-align: center;
    padding: 2rem;
}

.contact-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #e74c3c; /* Rojo oscuro */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s; /* Cambio de color al pasar el mouse */
}

.contact-button:hover {
    background-color: #d35400; /* Naranja oscuro */
}

.programming-images {
    display: flex;
    justify-content: center;
}

.programming-images img {
    max-width: 200px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    margin: 10px;
}

/* Estilos para la sección de servicios */
.service-section {
    background-color: #3498db; /* Azul */
    color: white;
    padding: 2rem;
}

.service-section h3 {
    color: #f1c40f; /* Amarillo */
}

/* Estilos para la sección de contacto */
.contact-form {
    margin: 2rem;
    padding: 2rem;
    border: 1px solid #ccc;
    background-color: #27ae60; /* Verde */
    color: white;
}

/* Estilos para la sección de Métodos de Pago */
.payment-methods {
    padding: 1rem;
    background-color: #3498db; /* Azul */
    color: white;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}





